<section>
    <h2>About me...</h2>
    <p class="fragment">
        From Mexico <span class="fragment">...se habla Español!</span>
    </p>
    <p class="fragment">
        UCLA CS Major / Math Minor 2012
    </p>
    <p class="fragment">
        SW Engineer @ UCLA for last 5 years
    </p>
    <p class="fragment">
        Designer/UI programmer before that...
    </p>
</section>
<section>
    <h3>Currently</h3>
    <p>Using React.js to build dynamic websites and React Native to build cross platform native apps</p>
    <p>
        Architecting systems and APIs to power research applications.  
    </p>
    <p>
        Pediatric asthma research involving mobile phones and sesnsors.  Published by IEEE!
    </p>
</section>
<section>
    <h3>Day to Day</h3>
    <p>I write a lot of Javascript, with occasional Swift, Python, Java</p>
    <p>Web and native app frameworks + servers</p>
    <p>Occasional dive into Sysops with automated deployment (via Chef)</p>
</section>
<section>
    <h3>
         UCLA years
    </h3>
    <p class="fragment">
        CCLE (campus LMS).  LAMP developer.  
    </p>
    <p class="fragment">
        IT Services (central campus IT).  Identity management systems.  Automated testing/deployment.
    </p>
    <p class="fragment">
        OIT (Mobile/web team).  SW Architech.  Mobile/Web developer.  Pediatric asthma researcher.
    </p>
</section>
<section>
    <h3>The UCLA years</h3>
    <p>
        html, css, sass, php, tdd, behat, yaml, mysql, sysops, devops, js, ajax, rest, ios, mvc, mvvm, rx, scrum, coffeescript, polymer...
    </p>
    <p class="fragment">
        Experience working with teams and stakeholders on critical campus systems
    </p>
    <p class="fragment">
        Given lots of autonomy and responsibility 
    </p>
    <p class="fragment">
        Thoughtful and creative problem solver
    </p>
    <p class="fragment">
        Meaningful impact on all projects and teams
    </p>
</section>
<section>
    <h3>
        Design years
    </h3>
    <p>
        Worked as UI designer / programmer.  Influence of this carries across to programming.  I put a lot of emphasis on usability and aesthetics of my programs.
    </p>
</section>