<section>
    <h2>Agenda</h2>
</section>
<section>
    <p >Who I am <span class="fragment">...in three acts</span></p>
    <ul style="text-align: center;">
        <li class="fragment">A story: CCLE front-end re-design</li>
        <li class="fragment">A project: UCLA Dentistry</li>
        <li class="fragment">A demo: Mobilize Labs platform</li>
        <li class="fragment">Bonus: Documentation pro! <span class="fragment">...if time permits</span></li>
    </ul>
</section>
<section>
    <p>
        These projects are represntative of the skills you seek, and I believe they will demonstrate other traits you might find desirable in a candidate for this position.
    </p>
</section>