<section>
    <h2>
        More about components
    </h2>
</section>
<section>
    <h3>Big pile of components</h3>
    <p>
    Your whole react app is just one big pile of components.  And each component is built of even more components under the hood.
    </p>
    
    <pre><code class="html">
    &lt;App&gt;
        &lt;Intro&gt;Hello World&lt;/Intro&gt;
        &lt;Content/&gt;
        &lt;Footer links={this.state.links} /&gt;
    &lt;/App&gt;

    </code></pre>
</section>
<section>
    <h2>Be the component</h2>
    <p >
       You already work with components.  HTML is full of them and your browser already knows how to render them and how to handle user interaction.
    </p>
    <pre><code>
&lt;select name="select"&gt;
  &lt;option value="value1"&gt;Value 1&lt;/option&gt; 
  &lt;option value="value2" selected&gt;Value 2&lt;/option&gt;
  &lt;option value="value3"&gt;Value 3&lt;/option&gt;
&lt;/select&gt;
    </code></pre>
</section>
<section>
    <h3>Be the component</h3>
    <p>Think of <code>&lt;App&gt;</code> as just another component, but in this case React tells the browser how to render and how to, uh..., react with it</p>
</section>
<section>
    <h3>Be the component</h3>
    <p>
        Suppose we wanted to make a <code>&lt;ValueSelect&gt;</code> component
    </p>
    <pre><code class="html">
        &lt;ValueSelect 
            name="select" 
            options={['value1', 'value2', 'value3']} /&gt;
    </code></pre>
</section>
<section>
    <h3>JSX</h3>
    <p>
        JSX is a syntax extension to Javascript.
    </p> 
    <pre><code class="js">
const element = <h1>Hello, world!</h1>;
const elementWithChildren = (
  &lt;div&gt;
    &lt;h1&gt;Hello!&lt;/h1&gt;
    &lt;h2&gt;Good to see you here.&lt;/h2&gt;
  &lt;/div&gt;
);
    </code></pre>
</section>
<section>
    <h3>
        Creating components
    </h3>
    show component composition, maybe show demo
</section>
<section>
    <h3>
        State and props
    </h3>
    talk about what these two are
</section>
<section>
    <h3>
        Props
    </h3>
    explain how you pass data to components
</section>
<section>
    <h3>
        state
    </h3>
    explain how components are responsible for their own state
</section>
