<section>
    <h2>CCLE + Dentistry Logging Tool</h2>
    <p class="fragment">
        UCLA School of Dentistry wants to go paperless on the CCLE System  
    </p>
</section>
<section>
    <h3>The setup</h3>
    <p>
        CCLE is absorbing more departments into the fold.  Dentistry wants to be on CCLE system, but has a very special requirement that requires a custom soution.
    </p>
    <p class="fragment">
        CCLE reaches out to ask me to come back at 20% time to help with the problem.
    </p>
</section>
<section>
    <h3>
        Problem
    </h3>
    <p>
        Translate an old beaurocratic alogue system to a streamlined digital one
    </p>
    <p class="fragment">
        Understand the problem
    </p>
    <p class="fragment">
        Understand the problem again...
    </p>
</section>
<section>
    <h3>
        Working out the problem
    </h3>
    <p>
        Went through several discussions and design iterations with CCLE team and Dentistry stakeholders
    </p>
    <p class="fragment">
        Demo Sketch mockups
    </p>
</section>
<section>
    <h3>Development</h3>
    <p>
        Developing prototype with React.js + Redux
    </p>
</section>
<section>
    <h3>Overview of React Development</h3>
    <p class="fragment">
        Webpack
    </p>
    <p class="fragment">
        Components
    </p>
    <p class="fragment">
        Redux
    </p>
</section>
