<section>
    <h2>Documentation</h2>
    <p>Not shy about documentation</p>
</section>
<section>
    <h3>
        Sample documentation
    </h3>
    <p>
        https://github.com/ucla/yggdrasil
    </p>
    <p>
        https://github.com/ucla/prisms-server
    </p>
    <p>
        https://github.com/ucla/keycloak-server <br/>
        https://github.com/ucla/keycloak-server/wiki/keycloak-exceptions
    </p>
</section>
<section>
    <h3>Diagrams</h3>
    <p data-background-color="#ffffff" style="background-color: #fff">
        <img src="images/docs_1.png" alt="" class="src">
    </p>
</section>
<section >
    <h3>Diagrams</h3>
    <p >
        <img src="images/cap.png" alt=""  style="background-color: #fff">
    </p>
</section>
<section>
    <h3>Diagrams</h3>
    <p>
        <img src="images/docs_3.png" alt="" class="src">
    </p>
</section>
<section>
    <h3>Write the Docs!</h3>
    <p>
        http://www.writethedocs.org/conf/na/2015/speakers/#speaker-ehoffmann-aroman
    </p>
</section>
