<section>
    <h2>
        Intro to React concepts
    </h2>
</section>
<section>
    <h3>
        The FB connection
    </h3>
    <p class="fragment">
        React.js was created by Facebook.  
    </p>
    <p class="fragment">
        <div class="fragment">Good job Facebook!</div>
        <div class="fragment">
            <img src="http://vignette1.wikia.nocookie.net/zombiejombie/images/4/40/Fb_like_button.png/revision/latest?cb=20120604120820">
        </div>
    </p>
    <p class="fragment">
        React allows you to think of `<code>UI = f(data)</code>`
        
        It's not really a framework, more like a library that helps you manage UI components in a declarative way. <span class="fragment">But what's a component?!</span>
    </p>
</section>
<section>
    <h3>The Component connection</h3>
    <p>
        Components or Webcomponents was the dream that never quite materialized. A dream of re-usable interface widgets that would be part of the browser.
    </p>
    <p class="fragment">
        This was partially achieved by Polymer.js.  A google library that pollyfilled Web Components.
    </p>
</section>
<section>
    <h3>!framework</h3>
    <p >
        React.js is not quite a framework.  
    </p>
    <p class="fragment">
        It brings us closer to the idea of components -- but adds some really neat stuff.
    </p>
</section>
<section>
    <h3>!Angular.js</h3>
    <p>
        Angular.js <em>is a framework</em> that extends HTML and provides a more expressive development environment.
    </p>
    <p>
        ...
    </p>
</section>
<section>
    <h3>!jQuery</h3>
    <p>
        React components encapsulates its functionality, so there is rarely a need to interact with the DOM.  Components already know how to handle events!

        <pre class="fragment"><code>$("section h1").on('click', alert('lol'))</code></pre>

        <span class="fragment">jQuery be gone!</span>
    </p>
</section>
<section>
    <h3>The DOM</h3>
    <p>One thing jQuery let you do very well, was modify the DOM.  </p>
</section>
<section>
    <h3>React and the Virtual DOM</h3>
    <p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BYbgopx44vo?rel=0" frameborder="0" allowfullscreen></iframe>
    </p>
</section>