<section>
    <h2>
        Intro to React concepts
    </h2>
</section>
<section>
    <h3>
        The FB connection
    </h3>
    <p class="fragment">
        React.js was created by Facebook.  
    </p>
    
    <div class="fragment">Good job Facebook!</div>
    <div class="fragment">
        <img src="http://vignette1.wikia.nocookie.net/zombiejombie/images/4/40/Fb_like_button.png/revision/latest?cb=20120604120820" style="border: 0 0 ">
    </div>

    <p class="fragment">
        It's not really a framework, more like a library that helps you manage UI components in a declarative way. 
    </p>
</section>
<section>
    <h4>...but what's a component</h4>
</section>
<section>
    <h3>The Component connection</h3>
    <p>
        Components or Web Components was the dream that never quite materialized. A dream of re-usable interface widgets that would be part of the browser.
    </p>
    <p class="fragment">
        This has been partially achieved by Polymer.js, library that pollyfills Web Components.
    </p>
    <ul class="fragment">
        <li>https://www.webcomponents.org</li>
        <li>https://www.polymer-project.org</li>
        <li>https://developer.mozilla.org/en-US/docs/Web/Web_Components</li>
    </ul>
</section>
<section>
    <h4>Polymer sample</h4>
    <pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;script src=&quot;bower_components/webcomponentsjs/webcomponents-lite.js&quot;&gt;
    &lt;/script&gt;
    &lt;link rel=&quot;import&quot; href=&quot;bower_components/polymer/polymer-element.html&quot;&gt;
    &lt;title&gt;Defining a Polymer Element from the Main Document&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;dom-module id=&quot;main-document-element&quot;&gt;
      &lt;template&gt;
        &lt;p&gt;
          Hi! I&apos;m a Polymer element that was defined in the
          main document!
        &lt;/p&gt;
      &lt;/template&gt;
      &lt;script&gt;
        HTMLImports.whenReady(function() {
          class MainDocumentElement extends Polymer.Element {

            static get is() { return &apos;main-document-element&apos;; }

          }
          window.customElements.define(MainDocumentElement.is, MainDocumentElement);
        });
      &lt;/script&gt;
    &lt;/dom-module&gt;
    &lt;main-document-element&gt;&lt;/main-document-element&gt;
  &lt;/body&gt;
&lt;/html&gt;

    </code></pre>
</section>
<section>
    <h3>!framework</h3>
    <p >
        React.js is not quite a framework.  
    </p>
    <p class="fragment">
        It brings us closer to the idea of web components... but adds some really neat stuff.
    </p>
</section>
<section>
    <h3>!jQuery</h3>
    <p>
        React components encapsulates its functionality, so there is rarely a need to interact directly with the DOM.  Components already know how to handle events!

        <pre class="fragment"><code>$("section h1").on('click', alert('lol'))</code></pre>
    </p>
</section>
<section>
    <h3>Angular.js</h3>
    <p>
        Angular.js <em>is a framework</em> that extends HTML and provides a more expressive development environment.
    </p>
    <p>
        ...
    </p>
</section>
<section>
    <h4>Angular sample</h4>
    <pre><code>import { Component } from '@angular/core';

@Component({
  selector: 'my-app',
  template: `<h1>Hello {{name}}</h1>`
})
export class AppComponent { name = 'Angular'; }</code></pre>
    <pre><code>&lt;body&gt;
    &lt;my-app&gt;Loading AppComponent content here ...&lt;/my-app&gt;
&lt;/body&gt;</code></pre>
</section>
