<secton>
    <h2>React Native Topics</h2>
</secton>
<section>
    <h3>Layouts & Styling</h3>
    <p>With React native you use Javascript to style your components</p>
    <p class="fragment">
        Styles names and values work similar to CSS on the web.
    </p>
    <pre><code>
&lt;View&gt;
    &lt;Text style={styles.red}&gt;just red&lt;/Text&gt;
    &lt;Text style={styles.bigblue}&gt;just bigblue&lt;/Text&gt;
    &lt;Text style={[styles.bigblue, styles.red]}&gt;bigblue, then red&lt;/Text&gt;
    &lt;Text style={[styles.red, styles.bigblue]}&gt;red, then bigblue&lt;/Text&gt;
&lt;/View&gt;
    </code></pre>
</section>
<section>
    <h3>Layouts & Styling...</h3>
        <pre><code>
const styles = StyleSheet.create({
  bigblue: {
    color: 'blue',
    fontWeight: 'bold',
    fontSize: 30,
  },
  red: {
    color: 'red',
  },
});
    </code></pre>
</section>