<section>
    <h1>
        GMTO Demo
    </h1>
    <h3>
        Alfonso Roman
    </h3>    
    <h4>alroman@ucla.edu</h4>
</section>
<section>
    <h2>Standard question policy</h2>
    <p>
        If I can't answer your question, I show you a cat!
    </p>
</section>
<section>
    <h3>
        Cats!
    </h3>
    <img src="images/mina_stairs.jpg" alt="" class="stretch">
</section>
<section>
    <h3>
        Cats!
    </h3>
    <img src="images/lucca_box.jpg" alt="" class="stretch">
    <p class="fragment">
        Litterally broke the internet!
    </p>
</section>
<section>
    <h3>Cats!</h3>
    <img src="images/mina_cape.jpg" alt="" class="stretch">
</section>
<section>
    <h3>Cats!</h3>
    <img src="images/mina_sleep.jpg" alt="" class="stretch">
</section>
<section>
    <h3>Ask away!</h3>
</section>