<section>
    <h2>
        Intro to react tooling
    </h2>
</section>
<section>
    <h3>
        React tooling
    </h3>
    <p>
        React's JSX needs to be transpiled to JS your browser can read.  Establishing a transpiler workflow is done similarly to most Javascript build chains.  You can use Grun, Gulp, Webpack, or a custom shell command.
    </p>
</section>
<section>
    <h3>
        Webpack
    </h3>
    <p>
        Webpack is a module bundler in the spirit of Grunt and Gulp.  It converts dependencies to static web assets, can split your code into modules, provides lazy loading, runs dev server... and a million other things.
    </p>
    <p class="fragment">
        The default installation of React uses Webpack, but it hides a lot of details from you.  This is nice to get started, but we're CS people, we need to know what's going on under the hood.
    </p>
    <p class="fragment">
        https://webpack.js.org
    </p>
</section>
<section>
    <h4>Custom webpack config demo</h4>
</section>
<section>
    <h3>
        React Chrome extension
    </h3>
    <p>
        This is a Chrome developer tool that allows you to inspect your component hierarchy and check component state.
    </p>
    <p>
        https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?hl=en
    </p>
</section>