<section>
    <h2>
        Intro to react tooling
    </h2>
</section>
<section>
    <h3>
        React tooling
    </h3>
    <p>
        React's JSX needs to be transpiled to JS your browser can read.  Establishing a transpiler workflow is done similarly to everythign else.  You can use Grun, Gulp, Webpack, or your shell.
    </p>
</section>
<section>
    <h3>
        Webpack
    </h3>
    <p>
        By default react uses Webpack, but it hides a lot of details from you.
    </p>
    <p>
        Webpack is a module bundler.  Converts dependencies to static web assets, can split your code into modules, provides lazy loading, runs dev server... and a million other things.
    </p>
    <p>
        https://webpack.js.org
    </p>
</section>
<section>
    <h3>
        React developer tools
    </h3>
    show chrome tools extension
</section>